.u-button--primary {
  background-color: #1a5cff;
  color: #fff;
}

.u-button--text {
  color: #1a5cff;
}

.u-button {
  border-radius: 0px;
}

.u-button--secondary:not(.is-disabled):hover {
  background-color: #1a5cff;
  opacity: 0.8 !important;
}

.u-button--outline {
  border: 1px solid #1a5cff !important;
  color: #1a5cff !important;
}

.u-input {
  color: #f8f5f8;
  font-size: 14px;

  .u-input__input {
    width: 100%;
    background-color: #141417;
    border: 1px solid transparent;
    border-radius: 0px !important;

    &:focus-visible {
      background-color: #0f1013;
      border: 1px solid #1a5cff;
    }

    &.is-error {
      border: 1px solid #a61d24;
    }
  }

  .u-input--prefix {
    left: 5px;
    top: 20px;
  }
}

.u-modal-root {
  z-index: 899;

  .u-modal {
    background-color: #1e2023 !important;
    border-radius: 0px !important;
    box-shadow: 0 3px 6px -4px #0000007a, 0 6px 16px #00000052, 0 9px 28px 8px #0003 !important;

    .u-modal__title {
      border-bottom: 1px solid #313131;
      height: 50px;
      line-height: 30px;
      font-size: 14px;
      color: #f8f5f8;
    }

    .u-modal__footer {
      border-top: 1px solid #313131;
    }

    .u-button {
      font-size: 12px;
      height: 28px;
      padding: 0px 15px;
    }
  }
}

.u-modal-mask {
  background-color: #00000073 !important;
}

.u-form {
  .u-form-item {
    display: flex;

    .u-form-item__content {
      flex: 1;

      .u-form-item--error {
        color: #a61d24 !important;
        padding-left: 5px;
        font-size: 12px !important;
        font-weight: 500 !important;
      }
    }
  }

  .u-form-item__label {
    color: #f8f5f8;
    font-size: 14px;
    display: flex;

    span {
      margin-right: 8px;
    }
  }
}

.u-message {
  background-color: #1e2023 !important;
  color: #f8f5f8;
  border-radius: 0px !important;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d !important;
}

.u-popover-node {
  border-radius: 0px !important;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d !important;
  font-size: 12px;
}

.u-popover-node {
  background-color: #404040 !important;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d !important;
  color: #f8f5f8 !important;
  border: none !important;
  z-index: 900 !important;

  .u-select-option {
    min-width: auto !important;

    &.is-active {
      background-color: rgba(17, 18, 20, 0.2);
      color: #1a5cff !important;
    }

    &:hover {
      background-color: #313131 !important;
    }
  }
}

.u-select {
  span {
    width: 100% !important;

    .u-input {
      width: 100% !important;

      span {
        width: auto !important;
      }
    }
  }
}

.popover-node__arrow {
  background-color: #404040 !important;
  border: 1px solid #404040 !important;
}

.u-date-picker {
  .u-input {
    width: 100%;
  }
}

.u-picker-wrapper {
  z-index: 900;

  .u-date-picker__panel {
    background-color: #404040;
    border-radius: 0px;
    border: none;
    color: #f8f5f8;

    .panel__nav {
      border: 1px solid #303030;
      height: 30px;
    }

    .panel__footer {
      border: 1px solid #303030;
    }
  }

  .cell {
    border-radius: none !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.08) !important;
    }

    &.is-select {
      background-color: transparent !important;
      border: 1px solid #1a5cff !important;
    }

    &.not-current-month {
      color: #ffffff4d !important;
    }
  }

  .year-cell,
  .month-cell {
    &:hover {
      background-color: rgba(255, 255, 255, 0.08) !important;
    }
  }

  .is-select-year {
    background-color: transparent !important;
    border: 1px solid #1a5cff !important;
  }

  .is-select-month {
    background-color: transparent !important;
    border: 1px solid #1a5cff !important;
  }
}

.u-date-picker__panel .panel__nav i:hover {
  color: #1a5cff;
}

.u-date-picker__panel .panel__nav .nav-month:hover,
.u-date-picker__panel .panel__nav .nav-year:hover {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

.u-table__inner {
  &::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #404040;
  }

  &::-webkit-scrollbar-track {
    background-color: #404040;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0rem;
    background-color: #636363;
  }
}

.u-table__header .u-table-cell {
  background-color: #1d1d1d !important;
  font-weight: 500;
  color: #ffffffd9;
}

.u-table .u-table-cell {
  background-color: rgb(20 20 20);
  border-bottom: 1px solid #303030;
  transition: background 0.3s;
}

.u-table__inner .u-table-column:hover .u-table-cell {
  background: #262626 !important;
}

.u-table-empty {
  background: #262626 !important;
  border-bottom: 1px solid #303030 !important;
}

.u-table .u-table-cell.is-fixed-right.is-shadow::before {
  box-shadow: inset -10px 0 8px -8px #00000073 !important;
}

.u-table .u-table-cell.is-fixed-left.is-shadow::before {
  box-shadow: inset 10px 0 8px -8px #00000073;
}

.u-pagination {
  font-size: 14px !important;

  .u-pagination__item {
    border-radius: 0px !important;
    margin: 1px !important;
    min-width: 28px;
    line-height: 28px;

    &:hover {
      color: #1a5cff !important;
    }

    &.is-active {
      border: 1px solid #1a5cff !important;
      color: #1a5cff !important;
    }
  }
}
