.u-button--primary{
  background-color: #1a5cff;
  color: #fff;
}

.u-button{
  border-radius: 0px;
}


.u-button--secondary:not(.is-disabled):hover{
  background-color: #1a5cff;
  opacity: 0.8 !important;
}

.u-button--outline {
  border: 1px solid #1a5cff !important;
  color: #1a5cff !important;
}


.u-input{
  color:#f8f5f8;
  font-size: 14px;

  .u-input__input {
    width: 100%;
    background-color:#141417;
    border: 1px solid transparent;
    border-radius: 0px !important;
  
    &:focus-visible{
      background-color: #0f1013;
      border: 1px solid #1a5cff;
    }

    &.is-error{
      border: 1px solid #a61d24;
    }
  }

  .u-input--prefix{
    left: 5px;
    top: 20px;
  }
}

.u-modal-root{
  z-index: 899;

  .u-modal{
    background-color: #1e2023 !important;
    border-radius: 0px !important;
    box-shadow: 0 3px 6px -4px #0000007a, 0 6px 16px #00000052, 0 9px 28px 8px #0003 !important;

    .u-modal__title{
      border-bottom: 1px solid #313131;
      height: 50px;
      line-height: 30px;
      font-size: 14px;
      color:#f8f5f8;
    }

    .u-modal__footer{
      border-top: 1px solid #313131;
    }

    .u-button{
      font-size: 12px;
      height: 28px;
      padding: 0px 15px;
    }
  }
}


.u-modal-mask{
  background-color: #00000073 !important;
}


.u-form{
  .u-form-item{
    display: flex;

    .u-form-item__content{
      flex:1;

      .u-form-item--error{
        color: #a61d24 !important;
        padding-left:5px ;
        font-size: 12px !important;
        font-weight: 500 !important;
      }
    }
  }

  .u-form-item__label{
    color:#f8f5f8;
    font-size: 14px;
    display: flex;

    span{
      margin-right: 8px;
    }
  }
}

.u-message{
  background-color: #1e2023 !important;
  color:#f8f5f8;
  border-radius: 0px !important;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d !important;
}

.u-popover-node{
  border-radius: 0px !important;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d !important;
  font-size: 12px;
}


.u-popover-node{
  background-color: #404040 !important;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d !important;
  color:#f8f5f8 !important;
  border: none !important;
  z-index: 900 !important;

  .u-select-option{
    min-width: auto !important;

    &.is-active{
      background-color: rgba(17,18,20,0.2);
      color: #1a5cff !important;
    }

    &:hover{
      background-color: #313131 !important;
    }
  }
}

.u-select{
  span{
    width: 100% !important;

    .u-input{
      width: 100% !important;

      span{
        width: auto !important;
      }
    }
  }
}


.popover-node__arrow{
  background-color: #404040 !important;
  border: 1px solid #404040 !important;
}
