// $color:rgb(98,44,255);
$color:#fff;
$text:#000;

.cursor-circle {
  width: 25px;
  height: 25px;
  border: 1px solid $color;
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: 0px 0px;
  pointer-events: none;
  z-index: 998;
  transition: transform 0.15s ease-in-out, background-color 0.1s ease-in-out, width 0.2s ease-in-out,
    height 0.2s ease-in-out;
  

  &.mode-normal {
    &.cursor-click {
      width: 15px;
      height: 15px;
      background-color: $color;
    }

    &.cursor-hidden {
      transform: translate(-50%, -50%) scale(0);
    }

    &.cursor-show {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  // mode --- point
  &.mode-point {
    background-color: #000;
    width: 15px;
    height: 15px;
    opacity: 0.6;

    &.cursor-click {
      width: 10px;
      height: 10px;
    }
  }

  //arrow

  &.mode-arrow {
    width: 20px;
    height: 20px;

    &.cursor-click {
      width: 15px;
      height: 15px;
      background-color: $color;
    }
  }

  &.mode-element {
    background-color: $color;


    use{
      fill:$text !important;
    }
  }
}

.cursor-point {
  width: 3px;
  height: 3px;
  position: fixed;
  border-radius: 50%;
  background-color: $color;
  transform: translate(-50%, -50%) !important;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out, width 0.2s ease-in-out,transform 0.2s ease-in-out,
  height 0.2s ease-in-out;
  z-index: 999;

  &::before{
    position: absolute;
    display: block;
    opacity: 0;
    content: "";
    top: 0px;
    left:10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: $color;
    transform: translateY(-50%);
    transition: all 0.15s ease-in-out;
  }

  &::after{
    position: absolute;
    display: block;
    opacity: 0;
    content: "";
    top: 0px;
    right:10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right-color: $color;
    transform: translateY(-50%);
    transition: all 0.15s ease-in-out;
  }

  &.mode-normal {
    &.cursor-click {
      opacity: 0;
    }

    &.cursor-hidden {
      opacity: 0;
    }

    &.cursor-show {
      opacity: 1;
    }
  }

  // mode --- point
  &.mode-point {
    display: none;
  }

  &.mode-arrow {
    &::before{
      position: absolute;
      display: block;
      content: "";
      top: 0px;
      left:25px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      opacity: 1;
      border-left-color: $color;
      transform: translateY(-50%);
    }

    &::after{
      position: absolute;
      display: block;
      content: "";
      top: 0px;
      right:25px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-right-color: $color;
      opacity: 1;
      transform: translateY(-50%);
    }
  }


  &.mode-element {
    width: auto;
    height: auto;
    background-color: transparent;
    color: $text;
    font-weight: bold;

   &.cursor-click {
    transform: translate(-50%, -50%) scale(0.6) !important;
   }
  }
}






.mode-normal {
  &.cursor-line{
    &::before{
      position: absolute;
      display: block;
      content: "";
      width: 0px;
      height: 1px;
      opacity: 0;
      background-color: $color;
      top: 0px;
      left: 0px;
      border: none !important;
      transition: width 0.5s ease-in-out;
      transform: translateY(50%) !important;
    }
  
    &::after{
      position: absolute;
      display: block;
      content: "";
      background-color: $color;
      opacity: 0;
      top: 0px;
      left: 0px;
      width: 1px;
      height: 0px;
      border: none !important;
      transform: translateX(50%) !important;
      transition: height 0.5s ease-in-out;
    }
  
    &.cursor-line{
      &.cursor-click {
        &::before{
          position: absolute;
          display: block;
          content: "";
          width: 100vw;
          height: 1px;
          opacity: 0.2;
          background-color: $color;
          top: 0px;
          left: 0px;
        }
      
        &::after{
          position: absolute;
          display: block;
          content: "";
          background-color: $color;
          opacity: 0.2;
          top: 0px;
          left: 0px;
          width: 1px;
          height: 100vh;
        }
      }
    }
  }
}


* {
  cursor: none !important;
}
